body {
    background: linear-gradient(270deg, rgb(224, 92, 92) 0%, rgb(248, 187, 113) 50%, rgb(240, 191, 105) 100%);
}

#masonryGrid {
    clear: both;
    margin: 0 auto;
}

#masonryGrid .grid-item {
    margin: 0.5rem;
}

#masonryGrid .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

#masonryGrid .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#masonryGrid .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

#masonryGrid .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 10px;
}

#masonryGrid .hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 50px 0 0;
    padding: 7px 14px;
}

#masonryGrid .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

#masonryGrid .hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#masonryGrid .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

#masonryGrid .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

#masonryGrid .hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

#error_, #counter {
    display: none;
}

@media only screen and (min-width: 800px) {
    tr td:nth-child(1) {
        width: 30%;
        text-align: right !important;
    }

    tr td:nth-child(3) {
        width: 60%;
        text-align: left !important;
    }
}
